{% extends "layout.html" %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages()}}

<h2>How To Play</h2>
<ul>
	<li>ALL transactions on this web application are <b><ins>simulated</ins></b> using paypals sandbox accounts</li>
	<li>You <b><ins>CANNOT</ins></b> win <b><ins>REAL</ins></b> money with this web application</li>
	<li>Deposit money using a debit/credit card. You can get <i>"fake cards"</i> from this website <a href="http://www.getcreditcardnumbers.com/">Credit/Debit Cards</a></li>
	<li>Return to <a href="http://electronicscratchcardgame.herokuapp.com/info">Play Game</a> and then click on the button to <i>"buy card"</i></li>
	<li>Click on <i>"Scratch Off"</i> button to see the scratch card</li>
	<li>If you have three matching symbols then you have won and money will be credited to your account</li>
	<li>When you are finished playing click on withdraw money to claim your "winnings"</li>
</ul>
{% endblock %}
