{% extends "layout.html" %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages()}}

<h2>How To Play</h2>
<ul>
	<li>Deposit money using your debit/credit card</li>
	<li>Return to main screen click on button to buy card</li>
	<li>Click on "Scratch Off" button to see the scratch card</li>
	<li>If you have three matching symbols then you have won and money will be credited to your account</li>
	<li>When you are finished playing click on withdraw money to claim your winnings</li>
</ul>
{% endblock %}
