{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% block title %}Electronic Scratch Card Game{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
	<ul class="nav nav-tabs">
		<li role="presentation"  class="active"><a href='info'>ESCG</a></li>
		<li role="presentation"><a href={{url_for('main')}}>Play Game</a></li>
		<li role="presentation"><a href={{ url_for('DepositMoney') }}>Deposit Money</a></li>
		<li role="presentation"><a href={{ url_for('withdraw') }}>Withdraw Money</a></li>
		{% if not 'username' in session %}
		<li role="presentation"><a href="{{ url_for('login') }}">Log In</a></li>
		{% else %}
		<li role="presentation"><a href="{{ url_for('logout') }}">Log Out</a></li>
		{% endif %}
	</ul>
</nav>
{% endblock %}

{% block content %}
{{util.flashed_messages()}}
{% endblock %}