{% extends "layout.html" %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages()}}
<h2>Main</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<table>
<tr><td>Account Balance:</td><td><input type="text" name="balance" value="{{ balance }}" id="balance" readonly></td></tr>
<tr><td>Possible Prize:</td><td><input type="text" name="CardValue" value="{{ amount }}" readonly></td></tr>
</table>
<canvas id="myCanvas"></canvas> 
<form action="/buyCard">
<input type="submit" value="Buy Card">
<button type="button" name="myButton" onclick="draw_graphics(true);checkwin()">Scratch Off</button>
</form>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
var loaded = false;

window.onload = function() {
	draw_graphics(false);
	var canvas = document.querySelector('myCanvas');

};

function checkwin() 
{
	if(loaded) return;

	var xmlhttp = new XMLHttpRequest();
	var car = "{{card_id}}"
	xmlhttp.onreadystatechange = function() 
	{
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) 
		{
			document.getElementById("balance").value = xmlhttp.responseText;
			loaded = true;
		}
	}
	xmlhttp.open("POST", "{{ url_for('CheckWinServer') }}", true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlhttp.send("card_id={{card_id}}");
};

function draw_graphics(checkCard)
{
	var c = document.getElementById("myCanvas");
	var ctx = c.getContext("2d");
	var overlay_img = new Image();

	// http://www.html5rocks.com/en/tutorials/canvas/integrating/

	var XPos = 0
	var YPos = 0
	{% for image in imagelist %}
		var img = new Image();
		img.src = "{{ url_for('static', filename='images/%s' % image) }}"
		if(XPos>c.width*.66) {
			XPos = 0
			YPos = YPos + c.height * .5
		}
		ctx.drawImage(img,XPos,YPos, c.width * .33, c.height * .5);
		XPos = XPos + c.width * .33
	{% endfor %}

	if(checkCard==true){
		ctx.globalCompositeOperation="destination-over";
	}
		//	Gets overlay image
	overlay_img.src = "{{ url_for('static', filename = 'overlay.jpg' )}}"
	ctx.drawImage(overlay_img,0,0,c.width,c.height);
}
</script>
{% endblock %}
